@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #9182ba;
  --secondary-black: #0d081a;
  --secondary-gray: #48464b;
  --body-bg: #efebfa;
}

.App {
  max-height: 100vh;
  max-width: 100vw;
  font-family: "Roboto Mono";
  font-size: 16px;
  padding: 0;
}

.a {
  text-decoration: none;
}
h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}
p {
  font-size: 1.2rem;
  color: var(--secondary-black);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  width: 240px;
  left: -240px;
  height: 100vh;
  z-index: 100;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  color: var(--secondary-gray);
}
.sidebar header {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat";
}
.sidebar .btn-signout {
  margin-top: 70%;
  margin-left: 5px;
  background-color: var(--secondary-gray);
  width: 90%;
  height: 50px;
  color: var(--primary-color);
  text-align: left;
  font-size: 1.5rem;
}
.sidebar .a {
  display: block;
  height: 65px;
  width: 100%;
  line-height: 65px;
  padding-left: 30px;
  margin-bottom: 2rem;
  font-family: "Montserrat";
}

.sidebar .a i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar .a span {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  color: var(--secondary-gray);
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: fixed;
  left: 5px;
  cursor: pointer;
  color: var(--secondary-gray);
  border-radius: 5px;
  margin: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  z-index: 100;
  transition: all 0.5s ease;
}
label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  margin-left: 245px;
  font-size: 3rem;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .sidebar header {
    font-size: 3rem;
  }
  .sidebar .a span {
    font-size: 1.4rem;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-button {
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  font-size: 18px;
  color: var(--secondary-black);
  position: relative;
  padding-right: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.switch-button:before {
  content: "message";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(143px);
  transition: transform 300ms linear;
  width: 155px;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: var(--primary-color);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 300ms;
}

.switch-button-label-span {
  position: relative;
  margin-left: 19px;
}

.hero-container p {
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--secondary-gray);
}
.btn-favorite {
  background: transparent;
  border: 1px solid var(--primary-color);
}
.favorite-icon {
  color: var(--primary-color);
}
@media (min-width: 768px) {
  .hero-container p {
    margin-top: 50px;
    text-align: center;
    color: var(--secondary-gray);
    font-size: 2rem;
  }
  .btn-favorite {
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 80px;
    height: 80px;
    background: transparent;
    border: 1px solid var(--primary-color);
  }
}

/* ----favorite----------------------------------------------- */
#favorite-section {
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.favorite-container {
  margin: 15px 10px 0 10px;
}
#favorite-section h1 {
  margin-top: 58px;
  text-align: center;
}
.div-fav {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid var(--primary-color);
}
.div-fav button {
  padding: 5px;
  position: absolute;
  top: 10%;
  left: 2px;
  transform: translate(-2px, 10%);
  border: none;
  cursor: pointer;
}
.div-fav button .remove-icon {
  color: var(--primary-color);
}

.div-fav p {
  margin-left: 40px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .favorite-container {
    margin: 30px;
    text-align: center;
  }
  .div-fav p {
    font-size: 20px;
  }
}
/* ---meditation section--------------------------------------------------- */

.meditation-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.heading-meditation {
  margin-top: 58px;
  text-align: center;
}

.filter-container {
  width: 50%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.filter-container .bn632-hover {
  width: 100px;
  font-size: 10px;
  margin: 10px;
  height: 20px;
  color: var(--secondary-gray);
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--primary-color);
  background: transparent;
  border-radius: 50px;
}

.bn632-hover:focus {
  outline: none;
}

.btn-loadmore {
  color: var(--secondary-gray);
  border: 1px solid var(--primary-color);
  background: transparent;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cards-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.cards-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 5px;
}
.card {
  width: 90%;
  background: var(--body-bg);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.card .card_content h2 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--secondary-black);
  text-decoration: none;
  transition: all 0.35s ease-in;
}
.card .card_content p {
  font-size: 16px;
  color: var(--secondary-gray);
  margin: 10px 0;
}
.card iframe {
  flex: 1;
  min-height: 150px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .filter-container .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    height: 55px;
  }
  .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 500px;
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}
.cards {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards_item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
}
.card {
  background-color: var(--body-bg);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_video {
  height: 200px;
}

iframe {
  width: 100%;
  height: 100%;
}
.card_content {
  background: var(--body-bg);
}
.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cards_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5px;
  }
  .card {
    background-color: var(--body-bg);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card_video {
    height: 200px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
  .card_content {
    background: var(--body-bg);
  }
  .card_title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  .card_text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
}
/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#journal-section {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
}
.journal-container {
  max-width: 97vw;
}
#journal-section h1 {
  margin-top: 58px;
  text-align: center;
}
.journal-form {
  margin: 2px 2px 2px 19px;
  width: 90%;
}
.journal-form textarea {
  width: 99%;
  border: 2px solid var(--body-bg);
  border-radius: 5px;
  outline: none;
}
.journal-form button {
  padding: 10px 24px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
}
.div-journal {
  width: 99%;
  word-wrap: break-word;
}
.div-date {
  display: flex;
  flex-direction: row;
}

.journal-date {
  font-size: 14px;
  color: var(--secondary-gray);
  border-bottom: 3px solid gray;
}

.div-date button {
  position: absolute;
  right: 30px;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.div-journal button .remove-icon {
  color: var(--primary-color);
}

.journal-content {
  flex-grow: 2;
  height: fit-content;
  font-size: 18px;
}

@media (min-width: 766px) {
  .journal-container {
    width: 100%;
  }

  .journal-form {
    width: 750px;
    height: 200px;
    margin-left: 602px;
    margin-top: 30px;
    padding-top: 20px;
  }
  .journal-form textarea {
    height: 100px;
  }

  .div-journal {
    width: 90%;
    height: 100px;
    word-wrap: break-word;
    margin-left: 90px;
    margin-top: 30px;
    padding-top: 20px;
  }

  .div-date button {
    position: relative;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .div-journal button .remove-icon {
    color: var(--primary-color);
  }

  .journal-content {
    flex-grow: 2;
    height: fit-content;
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# upload
--------------------------------------------------------------*/

.upload-section h1 {
  margin-top: 65px;
  text-align: center;
}

.upload-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  backdrop-filter: blur(10px);
  padding: 50px 35px;
}
.upload-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: none;
}
.upload-form button {
  margin-top: 50px;
  width: 100%;
  background-color: #fff7f2;
  color: var(--secondary-black);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .upload-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

/*--------------------------------------------------------------
# log in
--------------------------------------------------------------*/
.login-class {
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: auto;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login-form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.login-form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: var(--secondary-gray);
}
.login-form button {
  margin-top: 50px;
  width: 100%;
  background-color: #fff7f2;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.login-form p {
  margin-top: 20px;
  font-size: 12px;
}

.signup-class {
  min-height: 100vh;
  position: relative;
}
.signup-form {
  width: 80%;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.signup-form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.signup-form h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.signup-form label {
  display: block;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 500;
}
.signup-form input {
  display: block;
  height: 30px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: var(--secondary-gray);
}
.signup-form button {
  margin-top: 7px;
  width: 100%;
  background-color: #fff7f2;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.signup-form p {
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .login-form {
    width: 50%;
  }
  .signup-form {
    width: 50%;
  }
}
