@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap");

:root {
  --primary-color: #736dbb;
  --secondary-purple: #8d86b5;
  --secondary-gray: #333333;
  --body-bg: #e2deef;
}
#root {
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}
p {
  font-size: 1.6rem;
  color: var(--secondary-black);
}

.App {
  height: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.journal-header {
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  z-index: 100;
  transition: all 0.5s ease;
}
.journal-header h2 {
  font-size: 2rem;
  color: var(--secondary-purple);
}
.journal-header i {
  font-size: 2rem;
  color: var(--secondary-purple);
}
.journal-header .link {
  text-decoration: none;
  color: var(--primary-color);
}

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  top: 0;
  height: 100%;
  z-index: 100;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 2rem;
  line-height: 70px;
  text-align: center;
  color: var(--body-bg);
  user-select: none;
  font-family: "Montserrat";
}
.sidebar .link {
  display: block;
  text-decoration: none;
  height: 65px;
  width: 100%;
  color: var(--body-bg);
  line-height: 65px;
  padding-left: 30px;
  margin-bottom: 2rem;
  font-family: "Montserrat";
  transition: all 0.5s ease;
}

.sidebar .link i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar .link span {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
#check {
  display: none;
  margin: 0;
}
label #btn,
label #cancel {
  position: fixed;
  left: 5px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  z-index: 100;
  transition: all 0.5s ease;
}
label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
.sidebar .btn-signout {
  margin-top: 150px;
  display: inline-block;
  background-color: var(--secondary-purple);
  color: var(--body-bg);
  font-size: 1.8rem;
  padding: 0.6em 1.4em;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .journal-header {
    display: none;
  }
  .sidebar .btn-signout {
    padding: 0.9em 2.5em;
    margin-left: 4px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.switch-button {
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  font-size: 18px;
  color: var(--secondary-black);
  position: relative;
  padding-right: 160px;
  margin-top: 60px;
}

.switch-button:before {
  content: "message";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(190px);
  transition: transform 300ms linear;
  width: 260px;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: var(--primary-color);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 300ms;
}

.switch-button-label-span {
  position: relative;
  margin-left: 19px;
}

.hero-container .bottom {
  width: 100%;
  height: 88%;
  text-align: center;
  word-wrap: break-word;
}
.hero-container .bottom .hero-imag {
  margin: 0 auto;
  height: 80%;
  width: 40%;
}

.hero-container .bottom .btn-favorite {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--body-bg);
}

.hero-container .bottom .btn-favorite .favorite-icon {
  color: var(--primary-color);
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .switch-button {
    width: 300px;
    font-size: 18px;
    margin-top: 100px;
  }

  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(140px);
    transition: transform 300ms linear;
    width: 240px;
  }
  .hero-container .bottom .hero-imag {
    margin: 0 auto;
    height: 60%;
    width: 60%;
  }
}

/* ---meditation section--------------------------------------------------- */

.meditation-section {
  margin: 0;
  height: 99%;
  text-align: center;
}
.meditation-section h2 {
  margin-top: 15px;
  text-align: center;
  color: var(--secondary-purple);
}
.filter-container {
  justify-content: center;
  display: flex;
  gap: 30px;
}
.filter-container .bn632-hover {
  width: 100px;
  font-size: 12px;
  padding: 0.6em 1.4em;
  color: var(--secondary-gray);
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  border-radius: 50px;
}

.bn632-hover:focus {
  outline: none;
}
.cards-container {
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
}
.btn-loadmore {
  width: 90%;
  background-color: var(--body-bg);
  border: 2px solid var(--secondary-purple);
  color: var(--secondary-purple);
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card {
  width: 452px;
  height: 350px;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
}
.card iframe {
  width: 100%;
  height: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: top;
  justify-content: right;
}
.text {
  margin: 27px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.text .card_title {
  font-weight: 600;
  color: var(--secondary-purple);
}
.text .card_text {
  font-size: 19px;
}
@media only screen and (max-width: 768px) {
  .filter-container {
    margin-top: 28px;
    justify-content: center;
    display: flex;
    gap: 2px;
  }
  .filter-container .bn632-hover {
    width: 80px;
  }
}
/*--------------------------------------------------------------
# upload
--------------------------------------------------------------*/
.upload-section {
  height: 99%;
  text-align: center;
}
.upload-section h1 {
  color: var(--secondary-purple);
  margin-top: 10px;
  margin-bottom: 50px;
}
.upload-section .upload-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: 2px solid var(--secondary-purple);
  border-radius: 30px;
  letter-spacing: 0.5px;
  backdrop-filter: blur(10px);
  padding: 50px 35px;
}
.upload-form input {
  display: block;
  height: 80px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
}

.upload-form button {
  margin-top: 50px;
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  padding: 0.3em 1.2em;
  border-radius: 50px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .upload-section h1 {
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .upload-section {
    height: 80%;
    text-align: center;
  }
  .upload-form input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(50, 48, 48, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: none;
  }
  .upload-form button {
    margin-top: 30px;
    display: inline-block;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    padding: 0.2em 1em;
    border-radius: 50px;
    border: none;
  }
}
/*--------------------------------------------------------------
# journal
--------------------------------------------------------------*/
#journal-section {
  margin: 0;
  height: 99%;
  text-align: center;
}
#journal-section h1 {
  color: var(--secondary-purple);
  margin-top: 10px;
  margin-bottom: 50px;
}
.journal-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal-form textarea {
  resize: none;
  height: 100px;
  width: 550px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
}
.journal-form textarea::placeholder {
  color: var(--secondary-gray);
  text-align: center;
}
.journal-form button {
  width: 100px;
  font-size: 12px;
  padding: 0.6em 1.4em;
  color: var(--secondary-gray);
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  border-radius: 50px;
  margin-top: 5px;
}
.journal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.journal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-journal {
  width: 90%;
  word-wrap: break-word;
}
.div-journal p {
  text-align: left;
}
.div-journal .div-date {
  display: flex;
  gap: 5px;
}
.div-date p {
  color: var(--secondary-purple);
  border-bottom: 5px solid var(--secondary-purple);
  font-size: 18px;
  text-align: left;
}

.div-date button {
  margin-top: 5px;
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: none;
}
.div-date button .remove-icon {
  margin-bottom: 8px;
  color: var(--secondary-purple);
}
@media only screen and (max-width: 768px) {
  .journal-form textarea {
    resize: none;
    height: 100px;
    width: 300px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    outline: none;
  }
  .div-date button .remove-icon {
    margin-top: 8px;
  }
}
/*--------------------------------------------------------------
# Favorites
--------------------------------------------------------------*/
#favorite-section {
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#favorite-section h1 {
  color: var(--secondary-purple);
  margin-top: 10px;
  margin-bottom: 50px;
}
.favorite-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.favorite-container .div-fav {
  border: 2px solid var(--primary-color);
  width: 90%;
  display: flex;
  gap: 15px;
}
.div-fav button {
  width: 50px;
  height: 30px;
  margin-top: 6px;
  background-color: transparent;
  border: none;
}
.div-fav button .remove-icon {
  color: var(--secondary-purple);
}
/*--------------------------------------------------------------
# cover-page
--------------------------------------------------------------*/
#cover-page {
  height: 100%;
}
.btn-container {
  text-align: right;
}
.btn-cover {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--body-bg);
  font-size: 1.8rem;
  padding: 0.3em 1.2em;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  text-decoration: none;
}
.btn-cover:hover {
  color: var(--body-bg);
}
.cover-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cover-page .cover-container .right {
  flex: 6;
}
#cover-page .cover-container .left {
  flex: 8;
}

.cover-container .right .subheading {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
  animation: text 0.3s ease-in forwards;
  animation-delay: 1.1s;
  opacity: 0;
}
.cover-container .right .heading {
  font-size: 4rem;
  font-weight: 500;
  overflow: hidden;
  color: var(--secondary-black);
}
.cover-container .right .heading .wrapper {
  display: inline-block;
  overflow: hidden;
}
.cover-container .right .heading .wrapper span {
  position: relative;
  bottom: -70px;
  animation: heading 1s ease-in-out forwards;
}
.cover-container .right.heading .wrapper .name {
  color: var(--primary-color);
}
@keyframes heading {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cover-container .right .subheading-tow {
  max-width: 410px;
  animation: text 0.3s ease-in forwards;
  animation-delay: 1.1s;
  opacity: 0;
  color: var(--secondary-black);
}
.cards-container .right .desc {
  margin-top: 2.5rem;
  max-width: 400px;
  animation: text 0.3s ease-in forwards;
  animation-delay: 1.1s;
  opacity: 0;
}

.cover-container .left {
}
.cover-container .left img {
  width: 100%;
  max-width: 75%;
  height: 100%;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  #cover-page {
    text-align: center;
  }
  .cover-container {
    flex-direction: column;
  }
  .cover-container .right {
    text-align: left;
    margin-left: 2px;
    flex: 1;
  }
  .cover-container .left {
    text-align: center;
  }
}
/*--------------------------------------------------------------
# log in
--------------------------------------------------------------*/

.login-class {
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: auto;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login-form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.login-form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: var(--secondary-gray);
}
.login-form button {
  margin-top: 50px;
  width: 100%;
  background-color: #fff7f2;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.login-form p {
  margin-top: 20px;
  font-size: 12px;
}

.signup-class {
  min-height: 100vh;
  position: relative;
}
.signup-form {
  width: 80%;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.signup-form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.signup-form h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.signup-form label {
  display: block;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 500;
}
.signup-form input {
  display: block;
  height: 30px;
  width: 100%;
  background-color: rgba(50, 48, 48, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: var(--secondary-gray);
}
.signup-form button {
  margin-top: 7px;
  width: 100%;
  background-color: #fff7f2;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.signup-form p {
  margin-top: 20px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .login-form {
    width: 50%;
  }
  .signup-form {
    width: 50%;
  }
}
